<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
   <form action="/add_new_id/" method="post">
        <label for="add_new_id">Введите идентификатор: </label>
        <input id="add_new_id" type="text" name="add_new_id" maxlength="100">
        <input type="submit" value="Добавить">
       {% csrf_token %}
    </form>

<table>
    {% for row in table_in_html %}
    <tr>
      <td>{{row.0}}</td><td>{{row.1}}</td>
    </tr>
  {% endfor %}
</table>
<input type="button" onclick="history.back();" value="Назад"/>
</body>
</html>