<!DOCTYPE html>

<html lang="en">
<html>
{% load static %}
<head>
	<title>Work page</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Landing">
    <meta name="author" content="Ivan Ermilov">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'polls/plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'polls/plugins/font-awesome/css/font-awesome.css' %}s">


    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

</head>
<body>
	<header class="header">
        <div class="container">
            <img class="profile-image img-responsive pull-left" src={% static "mywebpage2/profile.png" %}/>
            <div class="profile-content pull-left">
                <h1 class="name">Work space</h1>
                <h2 class="desc">Check facebook user id existence & build graph</h2>
            </div><!--profile-->
            <a class="btn btn-cta-primary pull-right" href="/" target="_blank"><i class="fa fa-paper-plane"></i> To portfolio</a>
            <script language="javascript" type="text/javascript"><!--
                var d = new Date();

                var day=new Array("Воскресенье","Понедельник","Вторник",
                "Среда","Четверг","Пятница","Суббота");

                var month=new Array("января","февраля","марта","апреля","мая","июня",
                "июля","августа","сентября","октября","ноября","декабря");

                document.write(day[d.getDay()]+" " +d.getDate()+ " " + month[d.getMonth()]
                + " " + d.getFullYear() + " г.");
       //--></script>
        </div><!--container-->
    </header><!--header-->

    <div class="container sections-wrapper">
    	<div class="row">
    		<div class="primary col-md-8 col-sm-12 col-xs-12"><!--main column-->
				<section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">База проверенных id</h2>
                        <div class="content">
                            <table>
                                 {% for row in table_in_html %}
                                    <tr>
                                      <td>{{row.0}}</td><td>{{row.1}}</td>
                                    </tr>
                                  {% endfor %}
                            </table>
                        </div><!--content-->
                    </div><!--section-inner-->
                </section><!--section-->


    		</div><!--primary-->
    		<div class="secondary col-md-4 col-sm-12 col-xs-12">
    			<aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading">Menu</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><a href="/workspace",  class="btn">Main</a></li>
                                <li><a href="/upload",     class="btn">Upload</a></li>
                                <li><a href="/viewbase",   class="btn">ViewBase</a></li>
                                <li><a href="/viewgraph",  class="btn">ViewGraph</a></li>
                            </ul>
                        </div><!--content-->
                    </div><!--section-inner-->
                </aside><!--aside-->
                <aside class="Submenu">
                	<div class="section-inner">
                		<h2 class="heading">Submenu</h2>
                		<div class="content">


                		</div>
                	</div>
                </aside>
    		</div>
    	</div>
    </div>
    <script type="text/javascript" src="E:\python\NewDjango\MyWebSite\MyWebPage1\static\polls\plugins\jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="E:\python\NewDjango\MyWebSite\MyWebPage1\static\polls\plugins\bootstrap\js/bootstrap.min.js"></script>
    <script type="text/javascript" src="E:\python\NewDjango\MyWebSite\MyWebPage1\static\polls\plugins\jquery-rss\dist/jquery.rss.min        .js"></script>
    <!-- github calendar plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>
    <script type="text/javascript" src="E:\python\NewDjango\MyWebSite\MyWebPage1\static\polls\plugins\github-calendar\dist\github-calendar.min.js"></script>
    <!-- github activity plugin -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="E:\python\NewDjango\MyWebSite\MyWebPage1\static\polls\plugins\github-activity\src/github-activity.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="E:\python\NewDjango\MyWebSite\MyWebPage1\static\polls\assets\js\main.js"></script>

</body>
</html>